<html>
<head>
	<meta charset="ISO-8859-1">
	<title>Project Mentor Slot Booking</title>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css">
	<link rel="stylesheet" href="/static/style.css">
	<link rel="stylesheet" type="text/css" href="/static/style.css">
    
</head>

<body onload="funload()">
	<header>
		<nav class="navbar navbar-expand-sm bg-secondary navbar-secondary">
			<a class="navbar-brand">
				<!-- The below line can be an image or a h1, either will work -->
				<img src="https://s3.amazonaws.com/upes-prod/media/7545/upes-logo.webp" style="max-height: 38px;"
					alt="">
			</a>
		<nav class="navbar navbar-expand-sm bg-secondary justify-content-center">
			<button style="background-color:rgb(196, 193, 193);" class="navbar-toggler" type="button" data-toggle="collapse"
				data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>

			<div class="collapse navbar-collapse" id="navbarNav">
				<ul class="navbar-nav">
					<li class="nav-item"><span><a class="nav-link active" href="Home.html"><b>Home</b></a></span></li>
					<li class="nav-item "><span><a class="nav-link" href="FacultySlot.html"><b>Book the Slot</b></a></span></li>
					<li class="nav-item "><span><a class="nav-link" href="RequestDetailsFac.html"><b>Request</b></a></span></li>
					<li class="nav-item "><span><a class="nav-link" href="about.html"><b>Edit Profile</b></a></span></li>
					<li class="nav-item "><span><a class="nav-link" href="Login_page.html"><b>Logout</b></a></span></li>
				</ul>
			</div>
		</nav>
	</header>
    <br>

    <main>
        
    <main>
      
<body>
	<div class="container my-3">
		<div class="card shadow-sm my-3 w-100">
			<div class="card-header pb-0">
				<div class="card-title">Request Details</div>
			</div>
			<div class="card-body">
				<div class="table-responsive">
					<table class="table table-striped">
						<thead class="thead-dark">
							<tr>
								<th>Id</th>
								<th>Mentor</th>
								<th>Project Title</th>
								<th>Status</th>
								<th>Date and Time</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>123456789</td>
								<td>
									<h6 class="name">Dr Ravi S Iyer</h6><small class="text-muted">@Dr RaviSIyer</small>
								</td>
								<td class="title"><a href="#">Recommended System using Neural Network</a></td>
                                <td>
									<h6><span class="badge badge-success badge-pill px-3 py-1">Accepted</span></h6>
								</td>
								<td><time class="text-muted">Jun&nbsp;11&nbsp;at&nbsp;09:30</time></td>
							</tr>
							<tr>
								<td>2345678901</td>
								<td>
									<h6 class="name">Dr Anil Kumar</h6><small class="text-muted">@anilkumar</small>
								</td>
								<td class="title"><a href="#">Face Recognition Attendance System</a></td>
								<td>
									<h6><span class="badge badge-info badge-pill px-3 py-1">Pending</span></h6>
								</td>
								<td><time class="text-muted">Jun&nbsp;07&nbsp;at&nbsp;09:30</time></td>
							</tr>
							<tr>
								<td>34567890123</td>
								<td>
									<h6 class="name">Dr. Ranjan Mishra</h6><small
										class="text-muted">@Ranjan&nbsp;mishra</small>
								</td>
								<td class="title"><a href="#">Bank Management System</a></td>
								<td>
									<h6><span class="badge badge-danger badge-pill px-3 py-1">Rejected</span></h6>
								</td>
								<td><time class="text-muted">Jun&nbsp;05&nbsp;at&nbsp;09:30</time></td>
							</tr>

							<tr>
								<td>45678901234</td>
								<td>
									<h6 class="name">Dr. Ashutosh Sharma</h6><small
										class="text-muted">@AshutoshSharma</small>
								</td>
								<td class="title"><a href="#">library Management Systems</a></td>
								<td>
									<h6><span class="badge badge-danger badge-pill px-3 py-1">Rejected</span></h6>
								</td>
								<td><time class="text-muted">Jun&nbsp;04&nbsp;at&nbsp;09:30</time></td>
							</tr>
							<tr>
								<td>56789012345</td>
								<td>
									<h6 class="name">Rohit Tanwar</h6><small
										class="text-muted">@rohit&nbsp;tanwar</small>
								</td>
								<td class="title"><a href="#">Stock Market Prediction</a></td>
								<td>
									<h6><span class="badge badge-info badge-pill px-3 py-1">Pending</span></h6>
								</td>
								<td><time class="text-muted">Jun&nbsp;03&nbsp;at&nbsp;09:30</time></td>
							</tr>
							<tr>
								<td>67890123456</td>
								<td>
									<h6 class="name">Bhagwant Singh</h6><small class="text-muted">@singer&nbsp;bhagwant</small>
								</td>
								<td class="title"><a href="#">Stock Market Prediction</a></td>
								<td>
									<h6><span class="badge badge-danger badge-pill px-3 py-1">Rejected</span></h6>
								</td>
								<td><time class="text-muted">Jun&nbsp;02&nbsp;at&nbsp;09:30</time></td>
							</tr>
							<tr>
								<td>78901234567</td>
								<td>
									<h6 class="name">Abhirup Khanna</h6><small class="text-muted">@AbhirupKhanna</small>
								</td>
								<td class="title"><a href="#">credit Car Prediction using Deep learning & CNN Algorithm</a></td>
								<td>
									<h6><span class="badge badge-danger badge-pill px-3 py-1">Rejected</span></h6>
								</td>
								<td><time class="text-muted">Jun&nbsp;01&nbsp;at&nbsp;09:30</time></td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</body> 
</main>

</body>

</html>